<div data-role="view" data-title="okplay" id="homepage-view">
    
</div>

<div data-role="view" id="healthView">
    <div data-role="content">
        <div id="filterDropdwn">
            <p id="category-dropdown">
                <select class="dropFld">
                    <option>Health</option>
                    <option>Nutrition</option>
                    <option>Mental development</option>
                    <option>Education</option>
                    <option>Play time</option>
                    <option>Family</option>
                    <option>Travelling With Children</option>
                    <option>Recent News</option>
                </select>
            </p>
            <p id="age-dropdown">
                <select class="dropFld">
                    <option>Prenatal</option>
                    <option>0 to 3 months</option>
                    <option>3 to 12 months</option>
                    <option>1 to 3 years</option>
                    <option>3 to 5 years</option>
                    <option>5 to 7 years</option>
                </select>
            </p>
        </div>
    </div>
</div>

